.burger{
    display: none;

}                                         
.burger__text{
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 400;
    font-family: "Geometria", serif;
}
@media (max-width:768px){
    .burger{
        display: block;
        background-color: #547529;
        border-radius: 10px;
        width: 37px;
        height: 42px;
        z-index: 3;
        position: relative;
    } 
    .burger.active:before{
        transform: rotate(45deg);
        top: 8px;
    }
    .burger.active::after{
        transform: rotate(-45deg);
        bottom: 8px;
    }
    .burger.active span{
        transform: scale(0);
        color: #828282;
    }
    .burger span{
        position: absolute;
        background-color: #fff;
        left: 5%;
        width: 90%;
        height: 3px;
        top: 8px;
        transition: all 0.3s ease 0s;
        z-index: 5;
    }
    .burger::before,
    .burger::after{
        content: " ";
        position: absolute;
        width: 90%;
        background-color: #fff;
        height: 3px;
        left: 5%;
        z-index: 3;

        transition: all 0.3s ease 0s;
        z-index: 5;
    }
    .burger::before{
        top: 0;
    }
    .burger::after{
        bottom: 0;
    }


}
